In [4]:
# Hardcoded variables
num=5
num1=10
mul=num*num1
print(mul)

Name: John
Age: 30

In [6]:
#Taking user input
def factorial(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num * factorial(num - 1)

# Example usage
num=int(input("Enter your number"))
print(f"The factorial of {num} is {factorial(num)}")

Enter your number5
The factorial of 5 is 120

In [16]:
#Read single input from a file
# Read the number from the file
with open('num.txt', 'r') as file:
    num = int(file.readline().strip())

# Calculate the square of the number
square = num ** 2

# Print the result
print(f"The square of {num} is {square}")

The square of 5 is 25

In [18]:
# Open the file in read mode
with open('people.txt', 'r') as file:
    # Read all lines in the file
    lines = file.readlines()

# Process each line and filter those with age > 20
for line in lines:
    # Check if the line has enough commas before splitting
    if line.count(',') >= 2:  # Only process lines with at least 2 commas
        # Split the line into name, age, and profession
        name, age, profession = line.strip().split(',')

        # Convert the age to an integer for comparison
        age = int(age)

        # Print the person if age is greater than 20
        if age > 20:
            print(f"{name}, {age}, {profession}")
    else:
        print(f"Skipping invalid line: {line.strip()}") # Print a message or handle it differently

Skipping invalid line: Content of the file:
John, 25, Engineer
Alice, 30, Doctor
Bob, 22, Designer
Eve, 28, Teacher